---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
    const allPosts = await getCollection('blog');
    const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul class="posts-grid">
    {posts.map((post) => (
      <BlogPost
        url={`/posts/${post.id}`}
        title={post.data.title}
        image={post.data.image}
        pubDate={post.data.pubDate}
      />
    ))}
  </ul>
</BaseLayout>

<style>
  .posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 280px));
    gap: 1.5rem;
    padding: 0;
    margin: 2rem 0 0;
    list-style: none;
    justify-content: center;
  }

  .posts-grid li {
    list-style: none;
  }

  @media screen and (max-width: 768px) {
    .posts-grid {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      justify-content: center;
    }
  }
</style>